@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
}

html {
  border: 1rem solid #810ca8;
}

body {
  background: var(--background);
  font-size: 10px;
  overflow-x: hidden !important;
  margin: 1rem 0rem;
}

:root {
  /* Colors */
  --White: #fff;
  --DarkWhiteBcg: #fafafa;
  --background: #e5b8f4;
  --main: 810CA8;

  /* --main: linear-gradient(
    to left bottom,
    #7d62f2,
    #7f65ee,
    #8168ea,
    #836ae6,
    #856de2,
    #8a6cdc,
    #8f6bd6,
    #936ad0,
    #9a65c7,
    #9f60be,
    #a45bb5,
    #a757ac
  ); */

  /* --secondary: linear-gradient(
    to right bottom,
    #fd4d3e,
    #fe315c,
    #f61a7a,
    #e51b97,
    #c830b3
  ); */

  --textColor: #810ca8;
  --textLightColor: #9e9d9d;
}

/* HEADER */
.top-container {
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  width: auto;
}

.Company-Name {
  font-family: "Forte";
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #810ca8;
}

.menu {
  width: 80%;
  margin: 0 auto;
}
.menu nav ul {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #2d033b;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.1rem 7rem;
  gap: 1rem;
  z-index: 100;
  cursor: pointer;
  padding-top: 23px;
}

.menu nav ul li:nth-child(2) {
  margin-right: 5rem;
}
.menu nav ul li:nth-child(3) {
  margin-left: 5rem;
}

header hr {
  background: rgba(129, 12, 168, 0.2);
  border: 0;
  height: 3px;
}

/* LANGUAGE MENU Nie działa ! nie wiem czemu jak wyrzuce z .top-container flexa to okienko wyskakuje ale musi być flex bo rozwala ustawienie ???

Zmieniłem langmenu z-index wyskakuje poprawnie */

.lang-menu {
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #810ca8;
  width: 100px;
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
  position: relative;
  padding-bottom: 10px;
  z-index: 1;
}
.lang-menu .selected-lang {
  display: flex;
  justify-content: space-between;
  line-height: 2;
  cursor: pointer;
}
.lang-menu .selected-lang:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(https://www.countryflags.io/us/flat/32.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.lang-menu ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: #e5b8f4;
  border: 1px solid #f8f8f8;
  position: absolute;
  top: 45px;
  right: 0px;
  width: 125px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.lang-menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.lang-menu ul li a {
  text-decoration: none;
  width: 125px;
  padding: 5px 10px;
  display: block;
}

.lang-menu ul li:hover {
  background-color: #810ca8;
}

.lang-menu ul li a:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.lang-menu:hover ul {
  display: block;
}

/* HERO */

.section {
  padding: 9rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
  margin: 1.5rem 1rem;
  max-width: 79%;
  margin: 9rem auto;

}
.grid .hero-text {
  font-family: "philosopher";
  font-style: normal;
  line-height: 29px;
  color: #810ca8;
  margin: 0 auto;
  width: 70%;
  max-width: auto;
  padding: 0 1rem;
  letter-spacing: 0.05em;
  line-height: 3rem;
}
.grid .hero-text h1 {
  font-family: "philosopher";
  font-weight: 600;
  font-style: italic;
  font-size: 3rem;
  padding: 1rem 0 0 0;
}
.grid .hero-text p {
  font-family: "montserrat";
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
}
.grid .button {
  text-decoration: none;
  background:    #810ca8;
  border-radius: 5rem;
  padding:       1rem 1.5rem;
  color:         #ffffff;
  display:       inline-block;
  font-weight: 400;
  font-size: 1.2rem;
  text-align:    center;
  
}
.grid .button:hover {
  box-shadow: 0px 20px 20px 0px rgba(196, 132, 255, 0.3);
}