@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
}

html {
  border: 1rem solid #810CA8;
}

body {
  background: var(--background);
  font-size: 10px;
  overflow-x: hidden !important;
  margin: 1rem 0rem;
}

:root {
  /* Colors */
  --White: #fff;
  --DarkWhiteBcg: #fafafa;
  --background: #E5B8F4;
  --main: 810CA8;

  /* --main: linear-gradient(
    to left bottom,
    #7d62f2,
    #7f65ee,
    #8168ea,
    #836ae6,
    #856de2,
    #8a6cdc,
    #8f6bd6,
    #936ad0,
    #9a65c7,
    #9f60be,
    #a45bb5,
    #a757ac
  ); */

  /* --secondary: linear-gradient(
    to right bottom,
    #fd4d3e,
    #fe315c,
    #f61a7a,
    #e51b97,
    #c830b3
  ); */

  --textColor: #810ca8;
  --textLightColor: #9e9d9d;
}

/* HEADER */
.top-container {
  display: flex;
  justify-content: space-around;
}

header .language a {
  display: flex;
  text-decoration: none;
  color: #251829;
  font-size: 1.2rem;
  font-weight: bold;

}
.logo {
  position: absolute;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}
.menu {
  width: 80%;
  margin: 0 auto;
}
.menu nav ul {
  display: flex;
  color: #2D033B;
  font-weight: 400;
  font-size: 1.3rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.1rem 7rem;
  gap: 1rem;
  z-index: 100;
}

.menu nav ul li:nth-child(2 ) {
  margin-right: 5rem;
 
}
.menu nav ul li:nth-child(3) {
  margin-left: 5rem;
 
}

header hr {
  background: #2d033b20;
  border: 0;
  height: 2px;
}